.content {
  padding-top: 70px;
}

.title {
  padding-left: 45px;
}

.listBox {
  margin-top: 10px;
  margin-right: 45px;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.name {
  font-size: large;
}
