.mainBox {
  display: flex;
  flex-direction: column;
}

.mainContent {
  padding-top: 70px;
}

.btnBox {
  display: flex;
}

.btn {
}

.weatherAirInfo {
  display: flex;
  gap: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}
